@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", "Alegreya Sans", Arial, Helvetica, sans-serif;
  color: #292929;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-width: 1120px;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

.hero {
  background-color: #F8FAF9;
  height: 100vh;
  min-height: 652px;
  color: black;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -25px;
  right: 30%;
  content: url("../img/hero/rectangle.png");
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  background: url("../img/hero/headphones.png") right center/45% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 105px 50px 80px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 50px;
  padding-right: 10%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya Sans";
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: #292929;
}

.phone-number {
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 55px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 8px;
}

.feature__text {
  font-size: 16px;
  max-width: 110px;
}

.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.btn--color {
  background: #E01F3D;
  color: #fff;
}
.btn--color:hover {
  background: #fff;
  color: #E01F3D;
  cursor: pointer;
}
.btn--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color-white {
  color: #fff;
}
.section--font-color-white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.section__title-reviews {
  margin-bottom: 35px;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 62px;
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  position: absolute;
  bottom: -20px;
  left: 28%;
  content: url("../img/benefits/vector.png");
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/benefits/points.png");
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}

.benefit__desc {
  padding: 0 12%;
}

.reviews-section {
  position: relative;
}
.reviews-section:before {
  position: absolute;
  bottom: -17px;
  left: 28%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #868686;
  content: "";
}

.reviews {
  padding: 0 79px;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 107px 42px 42px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviws__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px 90px 0px 40px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
  color: black;
}

.reviews__text {
  margin-bottom: 38px;
}

.reviews_author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background-color: #181818;
  position: relative;
}
.order-section:before {
  position: absolute;
  top: -23px;
  right: 30%;
  content: url("../img/order/polygon.png");
}

.section__title-order {
  margin-bottom: 80px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__row--text {
  margin-bottom: 36px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 12px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 19px 12px;
  border-radius: 4px;
  border: 3px solid transparent;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 158px;
  resize: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__btns {
  padding: 45px 0 0;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 24px;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible:before {
  width: 10px;
  height: 8px;
  background: url("./../img/order/checkmark.png") no-repeat;
}

.radio__visible {
  margin-right: 10px;
}

.radio__title {
  margin-top: 4px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  display: none;
  background: #E01F3D;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 25%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 14px;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url("../img/map/map.png") center no-repeat;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__desc {
  font-size: 18px;
  padding-left: 8%;
}

.foter__desc--adress {
  margin-bottom: 3px;
}

.footer__socials {
  padding-right: 10%;
}

.social__item {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item--icon--vk {
  background-image: url("../img/footer/vk.png");
}
.social__item--icon--f {
  background-image: url("../img/footer/f.png");
}
.social__item--icon--in {
  background-image: url("../img/footer/in.png");
}
.social__item--icon--tg {
  background-image: url("../img/footer/tg.png");
}
.social__item:hover {
  cursor: pointer;
}