.benefits {
  display: flex;
}

.benefit__item {
  flex: 1;
  margin: 0 3%;
  position: relative;

  &:before {
    content: url('../../../img/benefits/points.png');
    position: absolute;
    top: 30px;
    right: 0;
    transform: translate(50%);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}