.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: rem(40px);
  height: rem(40px);
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: "Alegreya Sans"; 
}

.menu__item {
  margin-right: rem(27px);
  
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  color: #292929;
}

.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #292929;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}
