.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 4px;

      &:before {
        width: 10px;
        height: 8px;
        background: url("./../img/order/checkmark.png") no-repeat;
      }
    }
  }
}

.radio__visible {
  margin-right: 10px;
}

.radio__title {
  margin-top: 4px;
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: $white;

  &:before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    display: none;
    background: $red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}